{
    "compilerOptions": {
        "target": "ES2015",
        "module": "commonjs",
        "moduleResolution": "node",
        "allowJs": true,
        "noEmit": true,
        "strict": true,
        "esModuleInterop": true,
        "jsx": "react",
        "skipLibCheck": true,
    },
    "include": [
        "lib/**/*"
    ],
    "exclude": [
        "node_modules",
    ]
}